<body>
<header class="mr-header">
  <div class="mr-header-text">
      RATE YOUR PEER
  <a class="mr-header-icon" routerLink='/list-of-peers-to-rate'><i class="fa fa-arrow-left fa-5x" aria-hidden="true"></i></a>
  </div>
</header>
<!--<peer-rating-tile (Rating)="Ratings = $event"></peer-rating-tile>-->

<div class="peer-tile-wrapper">
  <div class="mr-float-left mr-peer-tile-left-container">
    <p class="mr-user-profile-container">
      <span class="mr-user-profile-wrapper">
        <img class="mr-profile-picture" [src]="ImageSrc"/>
      </span>
    </p>
  </div>
  <div class="mr-float-left mr-peer-tile-right-container">
    <p class="mr-rafter-name-container"><a routerLink='/rate-your-peer' class="mr-rafter-name-wrapper">{{ EmployeeName }}</a></p>
    <p class="mr-rafter-designation-container"><span class="mr-rafter-designation-wrapper">{{ EmployeeRole }}</span></p>
    <p class="mr-rafter-project-container"><span class="mr-rafter-project-wrapper">{{ EmployeeProject }}</span></p>
    <p class="mr-rating-stars">
      <span class="mr-rating-icon-wrapper" (click)="SendRating(1)">
        <span >
          <i class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes0, 'mr-rating-stars-selected': yes0}" (click)="yes1=false; yes0=!yes0; yes2=false; yes3=false; yes4=false;" aria-hidden="true"></i>
          <i class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes0, 'mr-rating-stars-selected': yes0}" (click)="yes1=false; yes0=!yes0; yes2=false; yes3=false; yes4=false;"  aria-hidden="true"></i>
        </span>
      </span>
      <span class="mr-rating-icon-wrapper" (click)="SendRating(2)">
        <span>
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes1, 'mr-rating-stars-selected': yes1}" (click)="yes1=true; yes0=true; yes2=false; yes3=false; yes4=false;" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes1, 'mr-rating-stars-selected': yes1}" (click)="yes1=true; yes0=true; yes2=false; yes3=false; yes4=false;"  aria-hidden="true"></i>
        </span>
      </span>
      <span class="mr-rating-icon-wrapper" (click)="SendRating(3)">
        <span>
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes2, 'mr-rating-stars-selected': yes2}" (click)="yes1=true; yes0=true; yes2=true; yes3=false; yes4=false;" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes2, 'mr-rating-stars-selected': yes2}" (click)="yes1=true; yes0=true; yes2=true; yes3=false; yes4=false;" aria-hidden="true"></i>
        </span>
      </span>
      <span class="mr-rating-icon-wrapper" (click)="SendRating(4)">
        <span>
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes3, 'mr-rating-stars-selected': yes3}" (click)="yes1=true; yes0=true; yes2=true; yes3=true; yes4=false;" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes3, 'mr-rating-stars-selected': yes3}" (click)="yes1=true; yes0=true; yes2=true; yes3=true; yes4=false;"  aria-hidden="true"></i>
        </span>
      </span>
      <span class="mr-rating-icon-wrapper" (click)="SendRating(5)">
        <span>
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes4, 'mr-rating-stars-selected': yes4}" (click)="yes1=true; yes0=true; yes2=true; yes3=true; yes4=true;" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes4, 'mr-rating-stars-selected': yes4}" (click)="yes1=true; yes0=true; yes2=true; yes3=true; yes4=true;" aria-hidden="true"></i>
        </span>
      </span>
    </p>
  </div>
</div>

<strength-weakness-parameters (Strength)="updateStrength($event)" (Weakness)="updateWeakness($event)"></strength-weakness-parameters>
<footer (click)="updateRating(); ListOfPeers()" class="mr-footer-submit">
    <span class="mr-footer-submit-text"><span class="mr-active">SUBMIT</span></span>
</footer>
</body>
