@import './../../app.component';

body{
  height: 40rem;
  background: white;
}
.mr-header{
  height: 5rem;
}
.mr-header-text{
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.mr-header-icon{
  left: 1.5rem;
  top: 1.78rem;
  height: 2rem;
  width: 2rem;
}
.mr-footer-submit{
  width: 100%;
  height: 4rem;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: $primary-color-dark;
  font-size: 1.6rem;
  color: $primary-active-icon;
  font-family:Avenir-Light ;
  color: white;
  letter-spacing: 0.7rem;
  text-align: center;
  z-index: 2;
}
.mr-footer-submit-text{
  position: relative;
  top: 35%;
}
.peer-tile-wrapper{
    height: 10rem;
    font-size: 1.2rem;
    background-color: $peer-tile-bg-color;
    margin-bottom: 0rem;
    padding-top:1rem;
}
/* styles for the peer-tile left container, containing profile picture */
.mr-peer-tile-left-container{
    width: 38%;
    height: 100%;
    position: relative;
    text-align: center;
    max-width: 80%;
    display: table;
}
.mr-user-profile-container{
    width: auto;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}
.mr-user-profile-wrapper{
    width: 100%;
    height: 100%;
}
.mr-profile-picture{
    display: block;
    margin: auto;
    border-radius: .5em;
    width: 57%;
    height: 37%;
}

/* styles for the peer-tile right container, containing name, designation, project */
.mr-peer-tile-right-container{
    width: 62%;
    height: 100%;
    padding: 1rem 0.5rem 0.5rem 0.5rem;
    box-sizing: border-box;
    position: relative;
}
.mr-rafter-name-container{
    color: $primary-text-color;
    margin-top: 1rem;
    display: table-cell;
    vertical-align: middle;
    text-align:left;
    font-size: 1rem;
    font-family:Avenir-Light ;
    color: $primary-color-dark;
    letter-spacing: 0.1rem;
}
.mr-rafter-designation-container{
    margin-bottom: 0.4rem;
    margin-top: 0.5rem;
    display: table;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 0.8rem;
    color: $secondary-text-color;
    letter-spacing: 0.1rem;
    position: absolute;
    bottom: 4.6rem;
}
.mr-rafter-project-wrapper{
    background-color: $project-background-color;
    padding: 0.3rem;
    display: inline-block;
    //display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 0.8rem;
    color: $primary-color-dark;
    letter-spacing: 0.4rem;
}
.mr-rafter-project-container{
    margin-bottom: 0.7rem;
    position: absolute;
    bottom: 2.2rem;
}
.mr-rating-icon-wrapper{
    margin-right: 15px;
}
.mr-rating-stars-selected{
    color:$primary-active-icon;
}
.mr-rating-stars-display{
    display: none;
}
.mr-rating-stars{
   position: absolute;
   bottom: 0.9rem;
}
