
  <div class="container">

  </div>
  <!--
         REMOVED, USED JQUERY PLUG-IN INSTEAD

    <div [ngStyle]="{'position':absolute, 'top':x, 'left':y, 'width': Width, 'height': Height}" class="mr-rating-full-meter">
      <div [ngStyle]="{'position':absolute,'top':0, 'left':0, 'width': InnerWidth, 'height':InnerWidth}" class="mr-rating-meter meter-1">
        <div [ngStyle]="{'background-color':LineColor, 'width': InnerWidth, 'height':InnerWidth}" class="dark-circle-1">
        </div>
        <div [ngStyle]="{'background-color':UnfilledLineColor, 'width': InnerWidth, 'height':InnerWidth, 'clip':ClippingMask1}" class="mr-mask-1">
        </div>
        <div [ngStyle]="{'background-color':UnfilledLineColor, 'width': InnerWidth,'transform': meter1rotate, 'height':InnerWidth, 'clip':ClippingMask2}" class="mr-mask-2-1">
        </div>
      </div>
      <div [ngStyle]="{'position': absolute,'top':0, 'left':0, 'width': InnerWidth, 'height':InnerWidth, 'transform': meter2rotate, 'display':meter2display, 'clip':ClippingMask2}" class="mr-rating-meter  meter-2">
        <div [ngStyle]="{'background-color':LineColor, 'width': InnerWidth, 'height':InnerWidth}" class="dark-circle-1">
        </div>
        <div [ngStyle]="{'background-color':UnfilledLineColor, 'width': InnerWidth, 'height':InnerWidth, 'clip':ClippingMask1}" class="mr-mask-1">
        </div>
        <div [ngStyle]="{'background-color':UnfilledLineColor, 'width': InnerWidth, 'height':InnerWidth,'transform': meter1rotate, 'clip':ClippingMask2}" class="mr-mask-2-2">
        </div>
      </div>
      <div [ngStyle]="{'position':absolute,'top':0, 'left':0, 'width': InnerWidth, 'height':InnerWidth}" class="mr-rating-percentage-wrapper mr-rating-meter">
        <div [ngStyle]="{'background-color': InnerColor, 'height':InnerWidthSecond, 'width':InnerWidthSecond}" class="top-circle">
        </div>
        <div [ngStyle]="{'background-color': InnerColor, 'color': TextColor}" class=" mr-rating-percentage">
           <span [ngStyle]="{'color': TextColor, 'font-size': FontSize, 'letter-spacing': LetterSpacing}" class='mr-percentage-text'>{{ Percent }}</span>
        </div>
      </div>
    </div>-->
