@import './../../app.component';
@import './../peer-rating-tile/peer-rating-tile.component';

.mr-qualities{
  height: 4rem;
  width:100%;
  background-color: white;
  padding-top: 0rem;
}
.mr-qualities-dark{
  background: $primary-color-dark;
}
.mr-qualities-strength{
  width:50%;
  height:100%;
  box-sizing: border-box;
  background: transparent;
  float:left;
  display: table-cell;
  padding-top: 1.4rem;
  vertical-align: middle;
  text-align:center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.3rem;
}
.mr-qualities-weakness{
  width:50%;
  height:100%;
  box-sizing: border-box;
  background: transparent;
  float:left;
  padding-top: 1.4rem;
  display: table-cell;
  vertical-align: bottom;
  text-align:center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.3rem;
}
.mr-qualities-strength-specs{
  background-color: #f4f4f4;
  width:100%;
  height: auto;
  padding-bottom: 30px;
}
.mr-qualities-specs-item{
  border: 1px solid #9e9e9e;
  border-radius:10rem;
  display:inline-block;
  box-sizing: border-box;
  width: auto;
  height: 2.5rem;
  padding: 0.9rem;
  margin-left: 1rem;
  margin-top: 1rem;
  text-align:center;
  background: transparent;
  color: $primary-color-dark;
  font-size: 0.7rem;
  font-family:Avenir-Light ;
  letter-spacing: 0.3rem;
  font-weight:  bold;
}
.mr-qualities-weakness-specs{
  background-color: #f4f4f4;
  width:100%;
  height: auto;
  padding-bottom: 30px;
}
.mr-qualities-weakness-specs-item{
  border: 1px solid #9e9e9e;
  border-radius:10rem;
  display:inline-block;
  box-sizing: border-box;
  width: auto;
  height: 2.5rem;
  padding: 0.9rem;
  margin-left: 1rem;
  margin-top: 1rem;
  text-align:center;
  background: transparent;
  color: $primary-color-dark;
  font-size: 0.7rem;
  font-family:Avenir-Light ;
  letter-spacing: 0.3rem;
  font-weight: bold;
}
.mr-qualities-strength-specs-display{
  display:none;
}
.mr-qualities-weakness-specs-display{
  display:none;
}
.mr-quality-active{
  color:#9e9e9e;
  border:1px solid $primary-color-dark;
  background-color:$primary-color-dark;
}
