<div class="mr-qualities">
    <div (click)="ShowStrengths()" [ngClass]="{'mr-active-bottom': !display1}"  class="mr-qualities-strength">
       <span [ngClass]="{'mr-active': !display1}">STRENGTH</span>
    </div>
    <div (click)="ShowWeakness()" [ngClass]="{'mr-active-bottom': !display2}" class="mr-qualities-weakness">
      <span [ngClass]="{'mr-active': !display2}">WEAKNESS</span>
    </div>
</div>

<div [ngClass]="{'mr-qualities-strength-specs-display' : display1}" class="mr-qualities-strength-specs">
    <span (click)="updateStrength('quality1')"><span class="quality1 mr-qualities-specs-item">CREATIVITY</span></span>
    <span (click)="updateStrength('quality2')"><span class="quality2 mr-qualities-specs-item">QUALITY</span></span>
    <span (click)="updateStrength('quality3')"><span class="quality3 mr-qualities-specs-item">EXPERIMENTATION</span></span>
    <span (click)="updateStrength('quality4')"><span class="quality4 mr-qualities-specs-item">TIMELINESS</span></span>
    <span (click)="updateStrength('quality5')"><span class="quality5 mr-qualities-specs-item">TEAM WORK</span></span>
    <span (click)="updateStrength('quality6')"><span class="quality6 mr-qualities-specs-item">TRANSPARENCY</span></span>

</div>
<div [ngClass]="{'mr-qualities-weakness-specs-display' : display2}" class="mr-qualities-weakness-specs">
    <span (click)="updateWeakness('quality1')"><span class="quality1 mr-qualities-weakness-specs-item">CREATIVITY</span></span>
    <span (click)="updateWeakness('quality2')"><span class="quality2 mr-qualities-weakness-specs-item">QUALITY</span></span>
    <span (click)="updateWeakness('quality3')"><span class="quality3 mr-qualities-weakness-specs-item">EXPERIMENTATION</span></span>
    <span (click)="updateWeakness('quality4')"><span class="quality4 mr-qualities-weakness-specs-item">TIMELINESS</span></span>
    <span (click)="updateWeakness('quality5')"><span class="quality5 mr-qualities-weakness-specs-item">TEAM WORK</span></span>
    <span (click)="updateWeakness('quality6')"><span class="quality6 mr-qualities-weakness-specs-item">TRANSPARENCY</span></span>
</div>
