    <body>
     <!-- TODO: Check why this is not working, js files in the same folder, yet not working

      <head>
        <script type="text/javascript" src="./moment.min.js"></script>
        <script type="text/javascript" src="./calendar.component.js"></script>
      </head>
      -->
      <header class="mr-header">
        <div class="mr-header-text">
          <b>NEW PROJECT</b>
          <a class="mr-header-icon" routerLink='/add-project'><i class="fa fa-arrow-left fa-5x" aria-hidden="true"></i></a>
        </div>
      </header>
      <div class="mr-ongoing-projects-body">
        <div class="mr-new-project-head">
          <div class="mr-new-project-wrapper">
            <div class="mr-new-project-text">
              <span class="mr-new-project-text1">Duration of Project</span><br /><br />
              <span class="mr-new-project-text2">You can select more than one duration</span>
            </div>
          </div>
          <div class="mr-new-project-month">
            <span class="mr-month" type="text">{{ month }}</span>
          </div>
        </div>
        <div class="calender">
             <h1>Some problem with the Jquery, I guess!</h1>
        </div>
      </div>
      <footer class='mr-footer mr-bottom-buttons-wrapper'>
        <div class='mr-button-cancel'>
          <a routerLink='/add-project'> CANCEL</a>
        </div>
        <div class='mr-button-create'>
          <span (click)="SendDates()"> DONE </span>
        </div>
      </footer>

      <!--
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
      <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
      <script type="text/javascript" src="./moment.min.js"></script>
      <script src="./pignose.calendar.js"></script>
    -->
    </body>
