@import './../user-profile.component';
@import './../add-project/add-project.component';

.pignose-calendar {
	width: 100%;
	background-color: #ffffff;
	border: none;
	font-size: 22px;
	margin: 0 auto;

}

.pignose-calendar .pignose-calendar-top {
	padding: 2.6em 0;
	background-color: #fff;
	border-bottom: none;
	position: relative;
	overflow: hidden;
	font-size: 1.5em;
  font-family:Avenir-Light ;
  color: blue;
  letter-spacing: 0.2em;
	display: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 1.6em 0;
	text-align: center;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
	font-weight: 400;
	font-size: 13px;
	color: #999999;
	margin: 0;
	padding: 0;
	display: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 0.4em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav {
	position: relative;
	z-index: 5;
	text-decoration: none;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
	display: inline-block;
	color: #ccc;
	font-size: 15px;
	font-weight: 600;
	vertical-align: middle;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
	display: inline-block;
	width: 7px;
	height: 12px;
	background: url('../image/icon_navs.png') no-repeat 0 0 scroll transparent;
	text-indent: -1000px;
	vertical-align: middle;
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev {
	float: left;
	margin-left: 1.6em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-value {
	margin-left: .2em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-prev .pignose-calendar-top-icon {
	background-position: 0 0;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next {
	float: right;
	margin-right: 1.6em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-value {
	margin-right: .2em;
}

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav.pignose-calendar-top-next .pignose-calendar-top-icon {
	background-position: -7px 0;
}

.pignose-calendar .pignose-calendar-header {
	padding: 0 1.2rem;
	margin-top: 0rem;
	font-weight: 600;
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-body {
	padding: 1.2rem;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week {
	float: left;
	width: 14.28%;
	height: 3.8rem;
	text-align: center;
	line-height: 3.8rem;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
	color: #fa4832;
}

.pignose-calendar .pignose-calendar-header .pignose-calendar-week:last-child {
	width: 14.32%;
}

.pignose-calendar .pignose-calendar-body {
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row {
	overflow: hidden;
}

.pignose-calendar .pignose-calendar-body .pignose-calendar-row:last-child {
}

.pignose-calendar-unit {
	float: left;
	display: block;
	height: 3rem;
	width: 14.28%;
	text-align: center;
	line-height: 3rem;
	padding-top: 0rem;
	padding-bottom: 0rem;
	margin-top:0rem;
	margin-bottom: 0.3rem;
	background-color: white;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar-unit a {
	display: inline-block;
	width: 2.5rem;
	height: 2.5rem;
	border-radius: 50%;
	color: #666;
	//line-height: 2.8em;
	text-align: center;
	margin-top: -1rem;
	text-decoration: none;
	transition: background-color .1s ease, color .1s ease;
	-moz-transition: background-color .1s ease, color .1s ease;
	-webkit-transition: background-color .1s ease, color .1s ease;
  background-color: #fff;
}

.pignose-calendar-unit.pignose-calendar-unit-disabled a {
	opacity: .5;
	background-color: #efefef;
}

.pignose-calendar-unit a:active {
	background-color: #33ff33;
}

.pignose-calendar-unit.pignose-calendar-unit-range  {
	background-color: $primary-color-dark;
	color: #fff;
	border: none;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
	color: #666;
	background-color: #fff;
}
.pignose-calendar-unit.pignose-calendar-unit-range a {
	border-radius: 40em;
	background-color: $primary-color-dark; /*#0c2687;*/
	color: #fff;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a {
	border-radius: 90rem;
	background-color: #33ff33;
	width: 2.5rem;
	height: 2.5rem;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
	border-radius: 90rem;
	background-color: #33ff33; /*#0c2687;*/
	width: 2.5rem;
	height: 2.5rem;
}
.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first  {
	border-top-left-radius: 200rem;
	border-bottom-left-radius: 200rem;
	background-color: $primary-color-dark;
	width: 14.28%;
}

.pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last  {
	border-top-right-radius: 200rem;
	border-bottom-right-radius: 200rem;
	background-color: $primary-color-dark; /*#0c2687;*/
	width: 14.28%;
}
.pignose-calendar.pignose-calendar-default .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-active a {
	color: #cccccc;
}

.pignose-calendar.pignose-calendar-reverse .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle-inactive a {
	color: #cccccc;
}

.pignose-calendar-unit.pignose-calendar-unit-active a {
	background-color: #33ff33;
	color: #ffffff;
	margin-top:0.2rem;
	font-weight: 600;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .5);
}

.pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-sat a {
	color: #fa4832;
}

.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sun a,
.pignose-calendar-unit.pignose-calendar-unit-active.pignose-calendar-unit-sat a {
	color: #ffffff;
}

.pignose-calendar-unit a:hover {

}

.pignose-calendar-unit:last-child {
	width: 14.32%;
}

.pignose-calendar-wrapper {
	display: none;
	position: fixed;
	width: 100%;
	max-width: 100%;
	top: 50%;
	left: 50%;
	border-radius: 2px;
	z-index: 50001;
	overflow: hidden;
	box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	-moz-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	-webkit-box-shadow: 0 4px 16px rgba(0, 0, 0, 1);
	transform: translate3d(0, 160px, 0);
	-moz-transform: translate3d(0, 160px, 0);
	-webkit-transform: translate3d(0, 160px, 0);
	opacity: 0;
	transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
	-moz-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
	-webkit-transition: opacity .3s ease, transform .5s ease-out, -webkit-transform .5s ease-out;
}

.pignose-calendar-wrapper .pignose-calendar {
	border: none;
}

.pignose-calendar-wrapper.pignose-calendar-wrapper-active {
	opacity: 1;
	transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-webkit-transform: translate3d(0, 0, 0);
}

.pignose-calendar-wrapper-overlay {
	background-color: #000000;
	opacity: 0;
	transition: opacity .3s ease;
	-moz-transition: opacity .3s ease;
	-webkit-transition: opacity .3s ease;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 50000;
}

.pignose-calendar-wrapper-overlay.pignose-calendar-wrapper-overlay-active {
	opacity: .7;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group {
	border-top: 1px solid #e2e2e2;
	overflow: hidden;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button {
	width: 50%;
	display: block;
	float: left;
	height: 3.2em;
	text-align: center;
	line-height: 3.2em;
	color: #333333;
	font-weight: 600;
	text-decoration: none;
	transition: background-color .3s ease;
	-moz-transition: background-color .3s ease;
	-webkit-transition: background-color .3s ease;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button:hover {
	background-color: #0f4899;
}

.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply {
	color: #ffffff;
	background-color: #33ff33;
}


.pignose-calendar-wrapper .pignose-calendar .pignose-calendar-button-group .pignose-calendar-button-apply:hover {
	background-color: $primary-color-dark;
}

/*================================================================================================================

   # DARK THEME

================================================================================================================*/

.pignose-calendar.pignose-calendar-dark {
	border-color: #373a3c;
	background-color: #4b4f51;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .5);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top {
	background-color: #3d4345;
	border-bottom-color: #3a3d3f;
	box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	-moz-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
	-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .175);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-month {
	color: #ffffff;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-year {
	color: #bdc2c5;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-value {
	color: #a2a9ab;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon {
	background-image: url('../image/icon_navs_dark.png');
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week {
	color: #bdc2c5;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat {
	color: #ff6060;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sun a,
.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-sat a {
	color: #ff6060;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit a {
	color: #51cfd2;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-disabled a {
	color: #868e8f;
	background-color: #5d6365;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-active a {
	color: #ffffff;
	background-color: #36bec2;
	box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, .75);
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range a {
	background-color: #5a5d62;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-disabled a {
	color: #727a7c;
	background-color: #4f5558;
}

.pignose-calendar.pignose-calendar-dark .pignose-calendar-body .pignose-calendar-row .pignose-calendar-unit.pignose-calendar-unit-toggle a {
	color: #8b8f94;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group {
	border-top: 1px solid #373a3c;
	overflow: hidden;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button {
	color: #ffffff;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button-apply {
	color: #ffffff;
	background-color: #36bec2;
}

.pignose-calendar-wrapper .pignose-calendar.pignose-calendar-dark .pignose-calendar-button-group .pignose-calendar-button:hover {
	background-color: #5a5d62;
}
.calender{
	 width: 100%;
	 height: 25rem;
}
