<body>
  <header class="mr-header">
    <!--  LOGOUT BUTTON REMOVED
    <button class="mr-button-logout" (click)="logout()">
      <span>LOG OUT</span>
    </button>
    -->
    <div class="mr-header-text">
        PEERS
    </div>
  </header>
<ul class="mr-list-of-peers-wrapper">
    <li *ngFor="let savedRating of savedRatings; let i = index">
      <peer-rating-tile [EmployeeName]= "employees[i].first_name" [EmployeeRole]="employees[i].role" [EmployeeProject]="projects[i]" [EmployeeEmail]="employees[i].email_id" [SavedRating]="savedRating"></peer-rating-tile>
    </li>
</ul>
<main-footer [CSDLogin]="csdLogin"></main-footer>
</body>
