/* Stylesheet for list of peers screen */

@import "../../app.component";
body{
  height: auto;
  background: white;
  min-height: 43rem;
}
ul{
  height: auto;
  width: 100%;
  min-height: 35rem;
}
li:last-child{
   margin-bottom: 4rem;
}
.mr-list-of-peers-wrapper{
    background-color: $body-background-color1;
    height: auto;
    min-height: 35rem;
    padding: 20px 0 20px 0;
}
/*********** LOGOUT BUTTON REMOVED ***********
.mr-button-logout{
  width: 7rem;
  height:3rem;
  display: inline-block;
  float: left;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.3em;
  background-color: rgba(255,255, 255, 0.5);
  margin-left:1rem;
  margin-top: 1rem;
}
**********************************************/
.mr-button-logout span{
  text-decoration: none;
  display: block;
  padding: 0% 10%;
  text-align: center;
  font-size: 1rem;
  font-family:monospace;
  color: $primary-color-dark;
  letter-spacing: 0.2em;
}
.mr-header-text{
    display: inline-block;;
    vertical-align: middle;
    text-align:center;
    font-size: 1.5rem;
    font-family:Avenir-Light ;
    color: white;
    letter-spacing: 0.6rem;
    padding-top: 1.6rem;
}
