@import './../user-profile/my-project/my-project.component';

.mr-project-tile{
  width:100%;
  height: 13.8rem;
  background-color: $primary-color-text;
  margin-bottom: 0.6rem;
  position: relative;
}
.mr-project-title{
  width:88%;
  margin:auto;
  height:2.1rem;
  padding-top: 1rem;
}

.project-name{
  font-size: 0.9rem;
  font-weight: bold;
  font-family:Avenir-Light ;
  color: #333333;
  letter-spacing: 0.1rem;
}
.project-icon{
  display:inline-block;
  padding-left: 1.5rem;
}
.mr-active-icon{
  color: $primary-active-icon;
}
#project_details{
  width: 88%;
  height: 5rem;
  margin:auto;
  font-weight: 300;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  line-height: 1.5rem;
  margin-top: 1rem;
}
#reject{
  display: inline-block;
  width:49%;
  text-align: center;
  border-left: 1px solid $primary-color-dark;
}
#reject .fa{
  color: red;
}
#approve{
  display: inline-block;
  width:49%;
  text-align: center;
}
#approve .fa{
  color: $primary-active-icon;
}
#select{
  position: absolute;
  bottom: 1%;
  display: block;
  width: 100%;
  border-top: 1px solid $primary-color-dark;
}
.fa{
  font-size: 3rem;
}
.details{
  font-weight: 500;
  white-space: nowrap;
}