<div class="mr-project-tile">
  <div class="mr-project-title">
    <span class='project-name'>APPROVAL REQUEST</span>
    <hr />
  </div>
  <div id= "project_details">
    <span class="details">{{ Name }}</span> has worked on <span class="details">{{ Project }}</span> from <span class="details">{{ Start }}</span>th 
    <span class="details">{{ Month }}</span> to <span class="details">{{ End }}</span>th <span class="details">{{ Month }}</span>
  </div>
  <div id="select">
    <div (click)="Approve()" id="approve"><i class="fa fa-check" aria-hidden="true"></i></div>
    <div (click)="Reject()" id="reject"><i class="fa fa-times" aria-hidden="true"></i></div>
  </div>
</div>
