
<div class='full-wrapper'>
    <div class="peer-tile-wrapper">
      <div class="mr-float-left mr-peer-tile-left-container">
        <p class="mr-user-profile-container">
          <span class="mr-user-profile-wrapper">
            <img class="mr-profile-picture" [src]="ImageSrc"> 
          </span>
        </p>
      </div>
      <div class="mr-float-left mr-peer-tile-right-container">
        <p class="mr-rafter-name-container"><a class="mr-rafter-name-wrapper">{{ employeeName }}</a></p>
        <p class="mr-rafter-designation-container"><span class="mr-rafter-designation-wrapper">{{ employeeRole }}</span></p>
        <p class="mr-upvote-downvote">

          <span (click)="Upvote()" class="mr-upvote-wrapper">
              <i class="fa fa-thumbs-o-up fa-5x" [ngClass]="{'mr-rating-stars-display': upvoteActive, 'mr-upvotes-selected': upvoteActive}" aria-hidden="true"></i>
              <i class="fa fa-thumbs-up fa-5x" [ngClass]="{'mr-rating-stars-display': !upvoteActive, 'mr-upvotes-selected': upvoteActive}" aria-hidden="true"></i>
          </span>

          <span (click)="Downvote()" class="mr-downvote-wrapper">
              <i class="fa fa-thumbs-o-down fa-5x" [ngClass]="{'mr-rating-stars-display': downvoteActive, 'mr-downvotes-selected': downvoteActive}" aria-hidden="true"></i>
              <i class="fa fa-thumbs-down fa-5x" [ngClass]="{'mr-rating-stars-display': !downvoteActive, 'mr-downvotes-selected': downvoteActive}" aria-hidden="true"></i>
          </span>
          
        </p>
      </div>
    </div>
    <div class="comment" [ngClass]="{showComment: ShowComment}">
        <div class="mr-calendar">
            <div class="mr-input">
              <input class="mr-project-input" type="text" (keyup.enter)="UpdateAppreciation()" [(ngModel)]="comment" placeholder="Write a Comment" />
            </div>
        </div>
    </div>
</div>