/* Stylesheet for peer tile */
@import "./../app.component";

.peer-tile-wrapper{
    height: 9rem;
    font-size: 1.2rem;
    background-color: $peer-tile-bg-color;
    padding:0.2rem;
}
/* styles for the peer-tile left container, containing profile picture */
.mr-peer-tile-left-container{
    width: 38%;
    height: 100%;
    position: relative;
    text-align: center;
    max-width: 80%;
    display: table;
}
.mr-user-profile-container{
    width: auto;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}
.mr-user-profile-wrapper{
    width: 100%;
    height: 100%;
}
.mr-profile-picture{
    display: block;
    margin: auto;
    border-radius: .5em;
    width: 57%;
    height: 37%;
}

/* styles for the peer-tile right container, containing name, designation, project */
.mr-peer-tile-right-container{
    width: 62%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
}
.mr-rafter-name-container{
    color: $primary-text-color;
    margin-top: 1rem;
    display: table-cell;
    vertical-align: middle;
    text-align:left;
    font-size: 1.2rem;
    font-family:Avenir-Light ;
    color: $primary-color-dark;
    letter-spacing: 0.1rem;
    position: absolute;
    top: 3%;
}
.mr-rafter-designation-container{
    margin-bottom: 0.4rem;
    margin-top: 0.5rem;
    display: table;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 1rem;
    color: $secondary-text-color;
    letter-spacing: 0.1rem;
    position: absolute;
    bottom: 50%;
}
.mr-rafter-project-wrapper{
    background-color: $project-background-color;
    padding: 0.3rem;
    display: inline-block;
    //display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 0.8rem;
    color: $primary-color-dark;
    letter-spacing: 0.4rem;
}
.mr-rafter-project-container{
    margin-bottom: 0.7rem;
    position: absolute;
    bottom: 1.7rem;
}

.mr-downvote-wrapper{
    position: absolute;
    right: 15%;
}
.Upvote-count{
    margin-right: 20%;
}
.mr-upvotes-selected{
    color:$primary-active-icon;
    font-size: 3.4rem;
}
.mr-downvotes-selected{
    color: red;
    font-size: 3.4rem;
}
.mr-rating-stars-display{
    display: none;
}
.mr-upvote-downvote{
   position: absolute;
   bottom: 13%;
   width: 70%;
}
.mr-calendar{
  width: 88%;
  margin: auto;
  height: 4rem;
}
.mr-add-label{
  width:100%;
  height: 50%;
}
.mr-label-text{
  display: table-cell;
  vertical-align: middle;
  padding-top: 1em;
}
.mr-new-project-text1{
  font-size: 1.2rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-input{
  width:100%;
  height: 50%;
  background-color: #fff;
  border:0;
  border-bottom: 2px solid gray;
}
input{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: $primary-color-text;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid #777;
}
input:focus{
  border:none;
  outline:none;
  border-bottom: 2px solid $primary-color-dark;
}
.comment{
    background: white;
    //display: none;
}

.showComment{
   display: block;
}
.full-wrapper{
    margin-top:1rem;
    margin-bottom: 1rem;
}
.fa{
    font-size: 3rem;
}