<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>MY PROFILE</b>
    </div>
  </header>
  <div class="mr-qualities mr-qualities-dark">
      <div (click)="showRatings()" [ngClass]="{'mr-active-bottom': displayRatings}"  class="mr-qualities-strength mr-qualities-strength-light-text">
         <a routerLink="/my-rating" [ngClass]="{'mr-active': displayRatings}">MY RATING</a>
      </div>
      <div (click)="showProjects()" [ngClass]="{'mr-active-bottom': displayProjects}" class="mr-qualities-weakness mr-qualities-weakness-light-text">
        <a routerLink="/my-project" [ngClass]="{'mr-active': displayProjects}">MY PROJECT</a>
      </div>
  </div>
  <div class="mr-ongoing-projects-body">
    <div class="mr-ongoing-projects">
      <div class="mr-ongoing-projects-wrapper">
        <div class="mr-ongoing-projects-text">
          <span class="mr-ongoing-projects-text1">Ongoing Projects</span><br /><br />
          <span class="mr-ongoing-projects-text2">List of your projects</span>
        </div>
        <div (click)="addProject()" class="mr-project-add">
          <a (click)="addProject()"><span class="plus-dark">SUBSCRIBE</span></a>
        </div>
      </div>
      <div class="mr-ongoing-projects-month">
        <span class="mr-month" type="text">{{ month }}</span>
      </div>
    </div>
    <ul>
      <li *ngFor = "let project of Projects; let i = index">
        <project-tile [Status]="project.status" [Project]="project.project_name" [StartDate]="project.project_start" [EndDate]="project.project_end" [UserEmail]="UserEmail" [Key]="ProjectKeys[i]"></project-tile>
      </li>
    </ul>
  </div>
  <main-footer></main-footer>
</body>
