@import './../user-profile.component';

ul{
  list-style-type: none;
  width: 100%;
}
li{
  width:100%;
}
.mr-header{
  width:100%;
  margin-right: 0;
  height: 5rem;
}
.mr-header-text{
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.mr-qualities{
  height: 4rem;
  padding-top: 0rem;
  font-size: 1rem;
  letter-spacing: 0.3rem;
}
.mr-qualities-dark{
  background-color: $primary-color-dark;
}
.mr-qualities-strength-light-text{
  color: $primary-color-text;
}
a{
  color: $primary-color-text;
}
body{
  background-color: $primary-background-color;
  margin-bottom: 4rem;
  height: auto;
  min-height: 45rem;
}
.mr-ongoing-projects-body{
  width: 100%;
  position: relative;
  height: auto;
  background-color: $primary-background-color;
}
.mr-ongoing-projects{
  width: 100%;
  height: 9rem;
  background-color: $peer-tile-bg-color;
  margin-bottom: 0.9rem;
}
.mr-ongoing-projects-wrapper{
  width: 88%;
  height:41%;
  margin:auto;
  padding-top: 5%;
  margin-bottom:0%;
}
.mr-ongoing-projects-text{
  width: 50%;
  height:100%;
  display: inline;
  float:left;
}
.mr-ongoing-projects-text1{
  font-size: 1.1rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-ongoing-projects-text2{
  font-size: 0.9rem;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1rem;
}
.mr-project-add{
  width: 45%;
  height:60%;
  display: table-cell;
  float: right;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.3rem;
}
.mr-ongoing-projects-month{
  width: 88%;
  position: relative;
  height:2rem;
  margin:auto;
  margin-top:2rem;
  margin-bottom:auto;
  text-align: center;
  font-size: 1.2rem;
  letter-spacing: 0.3rem;
}
.plus-dark{
  color: $primary-color-dark;
  background-color: transparent;
  border: none;
}
.mr-project-add a{
  text-decoration: none;
  display: block;
  padding: 6% 10%;
  text-align: center;
  font-size: 0.8rem;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.1rem;
}

.mr-month{
  border: none;
  text-align: center;
  font-size: 1.2rem;
  font-family:Avenir-Light ;
  letter-spacing: 0.3rem;
  color: $primary-color-dark;
  display: inline;

}
::-webkit-input-placeholder {
    color: $primary-color-dark;
}
:-moz-placeholder {
    color: $primary-color-dark;
}
::-moz-placeholder {
    color: $primary-color-dark;
}
:-ms-input-placeholder {
    color:  $primary-color-dark;
}




