
<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>NEW PROJECT</b>
      <a class="mr-header-icon" routerLink='/my-project'><i class="fa fa-arrow-left fa-5x" aria-hidden="true"></i></a>
    </div>
  </header>
  <div class="mr-ongoing-projects-body">
    <div class="mr-new-project-head">
      <div class="mr-new-project-wrapper">
        <div class="mr-new-project-text">
          <span class="mr-new-project-text1">New Project</span><br /><br />
          <span class="mr-new-project-text2">Add a new project for this month</span>
        </div>
      </div>
      <div class="mr-new-project-month">
        <span class="mr-month" type="text">{{ month }}</span>
      </div>
    </div>
    <div class="mr-new-project-select">
      <div class="mr-select">
        <div class='mr-add-label'>
          <span class="mr-new-project-text1 mr-label-text">Select Project</span>
        </div>
        <div class="mr-input">
          <div class="dropdown1">
            <div [innerHTML]='displayValue' (click)="showList(display, displayValue)" class="dropbtn1"></div>
            <ul [ngClass]="{'showList1': listDisplay}" class="dropdown-content1">
              <li *ngFor="let option of Projects">
                <span [innerHTML]='option.label' (click)="showList(display, option)"></span>
              </li>
            </ul>
          </div>
          <!--
              TODO:  TRY IMPLEMENTING THE DROPDOWN WITH <ng-select></ng-select>
                     somewhat like shown below.

          <ng-select class="mr-project-dropdown" (selected)="onSelected($event)" [options]="options" placeholder="Selected" theme="default">
          </ng-select>

          -->
        </div>
      </div>
      <div class="mr-calendar">
        <div class="mr-add-label">
          <span class="mr-new-project-text1 mr-label-text">Select Duration</span>
        </div>
        <div (click)="SelectDates()" class="mr-input">
          <div class="dateContent">
            <span [ngClass]="{'dateContentDark': dateDark}">{{ SelectedDates }}</span>
            <span (click)="SelectDates()"><i class="fa fa-calendar" aria-hidden="true"></i></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class='mr-footer mr-bottom-buttons-wrapper'>
    <div class='mr-button-cancel'>
      <a routerLink='/my-project'> CANCEL</a>
    </div>
    <div class='mr-button-create'>
      <span (click)="AddProject()"> CREATE</span>
    </div>
  </footer>
</body>
