@import './../user-profile.component';

.mr-header{
  width:100%;
  margin-right: 0;
  height: 5rem;
}
.mr-header-text{
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.mr-header-icon{
  left:1.5rem;
  top:1.78rem;
  height: 2rem;
  width: 2rem;
}
.mr-ongoing-projects-body{
  width: 100%;
  position: relative;
  height: 36rem;
  background-color: #fff;
}
.mr-new-project-head{
  width: 100%;
  height: 10rem;
  background-color: $peer-tile-bg-color;
  margin-bottom: 0.9rem;
}
.mr-new-project-wrapper{
  width: 81%;
  height:41%;
  margin:auto;
  padding-top: 5%;
  margin-bottom:0%;
}
.mr-new-project-text{
  width: 100%;
  height:100%;
  display: inline;
  float:left;
}
.mr-new-project-text1{
  font-size: 1.3rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-new-project-text2{
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1rem;
}
.mr-project-add{
  width: 45%;
  height:60%;
  display: table-cell;
  float: right;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.3em;
}
.mr-new-project-month{
  width: 88%;
  position: relative;
  height:2rem;
  margin:auto;
  margin-top:2rem;
  margin-bottom:auto;
  text-align: center;
}
.mr-project-add a{
  text-decoration: none;
  display: block;
  padding: 5% 10%;
  text-align: center;
  font-size: 1.0em;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.2em;
}
.mr-month{
  border: none;
  text-align: center;
  font-size: 1.5em;
  font-family:Avenir-Light ;
  letter-spacing: 0.2em;
  color: $primary-color-dark;
  display: inline;

}
.mr-active-icon{
  color: $primary-active-icon;
}
.mr-bottom-buttons-wrapper{
  z-index: 2;
  background-color: #fff;
}
.mr-button-cancel{
  width: 40%;
  height:60%;
  display: table-cell;
  float: left;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.4rem;
  background-color: #fff;
  margin-left:5%;
  margin-top: 2%;
}
.mr-button-cancel a{
  text-decoration: none;
  display: block;
  padding: 7% 10%;
  text-align: center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.2rem;
}
.mr-button-create{
  width: 40%;
  height:60%;
  display: table-cell;
  float: right;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.4rem;
  background-color: $primary-color-dark;
  margin-right:5%;
  margin-top: 2%;
}
.mr-button-create span{
  text-decoration: none;
  display: block;
  padding: 7% 10%;
  text-align: center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-text;
  letter-spacing: 0.2rem;
}
.mr-new-project-select{
  width:100%;
  height: auto;
}
.mr-select{
  width: 60%;
  margin: auto;
  height: 6rem;
  margin-top: 0rem;
}
.mr-calendar{
  width: 60%;
  margin: auto;
  height: 6rem;
  margin-top:3rem;
}
.mr-add-label{
  width:100%;
  height: 50%;
}
.mr-label-text{
  display: table-cell;
  vertical-align: middle;
  padding-top: 1em;
}
.mr-input{
  width:100%;
  height: 50%;
  background-color: #fff;
  border:0;
  border-bottom: 2px solid gray;
}

.mr-project-dropdown{
  width: 10em;
  height: 10em;
  background-color: white;
  border: 0px;
  border-bottom: 2px solid gray;
  border-radius: 0;
  text-decoration: none;
  font-size: 1.2em;
  font-family:Avenir-Light ;
  color: black;
  letter-spacing: 0.4em;
  box-shadow: none;
  margin-top: 10%;
  outline:0;
}
.mr-project-dropdown:focus{
   border: none;
   outline: none;
}
#selectDate{
  width: 100%;
  height: 100%;
  background-color: white;
  border: none;
  border-radius: 0;
  text-align: center;
  font-size: 1.2em;
  font-family:Avenir-Light ;
  color: gray;
  letter-spacing: 0.4em;
}

input:focus{
  border:none;
  outline:none;
}
.dateContent{
  width: 100%;
  height: 60%;
  border:none;
  text-align: center;
  font-size: 1rem;
  padding-top:7%;
  font-family:Avenir-Light ;
  color: gray;
  letter-spacing: 0.1rem;
  vertical-align: middle;
}
.dateContentDark{
  color: black;
  letter-spacing: 0.1rem;
}

.fa-calendar{
  float: right;
  color: $primary-color-dark;
}
/* Dropdown Button */
.dropbtn1 {
    background-color: #4CAF50;
    color: black;
    font-size: 1rem;
    font-family:Avenir-Light ;
    letter-spacing: 0.4rem;
    background-color: white;
    border: none;
    width: 15rem;
    height: 100%;
    padding-top: 0.8rem;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: $primary-color-text;
    width: 110%;
    top: 166%;
}

/* Links inside the dropdown */
.dropdown-content1 li {
    text-align: left;
    text-decoration: none;
    height: 2rem;
    color: $primary-color-dark;
    font-size: 1rem;
    padding-top:2%;
    font-family:Avenir-Light ;
    letter-spacing: 0.3rem;
    background-color: $primary-color-text;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu on hover */
.showList1{
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

ul{
  margin: 0;
  padding: none;
}
