@import "./../app.component";
body{
  height: 43rem;
  background: white;
}
.mr-header{
  width:100%;
  height: 5rem;
}
.mr-ongoing-projects-body{
  width: 100%;
  position: relative;
  height: 25rem;
  background-color: #fff;
}
.mr-new-project-head{
  width: 100%;
  height: 8rem;
  background-color: $peer-tile-bg-color;
  margin-bottom: 0.9rem;
}
.mr-new-project-wrapper{
  width: 80%;
  height: 52%;
  margin:auto;
  padding-top: 5%;
  margin-bottom:0%;
}
.mr-new-project-text{
  display: inline;
}
.mr-new-project-text11{
  font-size: 1.5rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-new-project-text22{
  font-size: 1.3rem;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1rem;
}
.mr-new-project-text1{
  font-size: 1.2rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-new-project-text2{
  font-size: 0.9rem;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1rem;
}

.mr-bottom-buttons-wrapper{
  z-index: 2;
  background-color: #fff;
}
.mr-new-project-month{
  width: 100%;
  height: 32%;
}
.mr-new-project-month span{
  text-align: center;
  display: block;
  font-size: 1.5rem;
  letter-spacing: 0.2rem;
  padding-top: 4%;
  color: $primary-color-dark;
}
.mr-button-cancel{
  width: 40%;
  height:60%;
  display: table-cell;
  float: left;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.4rem;
  background-color: #fff;
  margin-left:5%;
  margin-top: 2%;
}
.mr-button-cancel span{
  text-decoration: none;
  display: block;
  padding: 7% 10%;
  text-align: center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-dark;
  letter-spacing: 0.2rem;
}
.mr-button-create{
  width: 40%;
  height:60%;
  display: table-cell;
  float: right;
  vertical-align: middle;
  border: 1px solid $primary-color-dark;
  border-radius: 0.4rem;
  background-color: $primary-color-dark;
  margin-right:5%;
  margin-top: 2%;
}
.mr-button-create span{
  text-decoration: none;
  display: block;
  padding: 7% 10%;
  text-align: center;
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: $primary-color-text;
  letter-spacing: 0.2rem;
}
.mr-create-new-project{
  width:100%;
  height: auto;
}
.mr-calendar{
  width: 80%;
  margin: auto;
  height: 5rem;
  margin-top:1rem;
}
.mr-add-label{
  width:100%;
  height: 50%;
}
.mr-label-text{
  display: table-cell;
  vertical-align: middle;
  padding-top: 1em;
}

/* Dropdown Button */
.dropbtn1 {
    background-color: #4CAF50;
    color: black;
    font-size: 1rem;
    font-family:Avenir-Light ;
    letter-spacing: 0.4rem;
    background-color: white;
    border: none;
    width: 15rem;
    height: 100%;
    padding-top: 0.8rem;
    text-align: left;
}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
    display: none;
    position: absolute;
    background-color: $primary-color-text;
    width: 140%;
    top: 166%;
}

/* Links inside the dropdown */
.dropdown-content1 li {
    text-align: left;
    text-decoration: none;
    height: 2rem;
    color: $primary-color-dark;
    font-size: 1rem;
    padding-top:2%;
    font-family:Avenir-Light ;
    letter-spacing: 0.3rem;
    background-color: $primary-color-text;
}

/* Change color of dropdown links on hover */


/* Show the dropdown menu on hover */
.showList1{
  display: block;
  z-index: 2;
}

.showList3{
  display: block;
  z-index: 2;
}

/* Change the background color of the dropdown button when the dropdown content is shown */

ul{
  margin: 0;
  padding: none;
}
.mr-input{
  width:100%;
  height: 50%;
  background-color: #fff;
  border:0;
  border-bottom: 2px solid gray;
}
input{
  width: 100%;
  height: 100%;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  background-color: $primary-color-text;
  border: 0px;
  outline: 0px;
  border-bottom: 2px solid #777;
}
input:focus{
  border:none;
  outline:none;
  border-bottom: 2px solid $primary-color-dark;
}
.fa-calendar{
  float: right;
  color: $primary-color-dark;
}
input.radio{
  position: relative;
  width: 8%;
  height: 30%;

}
.radio-left{
  position: relative;
  left: 0%;
  display: inline;
}
.radio-right{
  position: relative;
  left: 46%;
  display: inline;
}
#left-radio{
  position: absolute;
  top: -28%;
  left: 111%;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
#right-radio{
  position: absolute;
  left: 121%;
  top: -28%;
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}
#radio{
  height: 5rem;
  margin-top: 2rem;
}
#last{
  margin-top: -3rem;
}

