
<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>ADD PROJECT</b>
    </div>
  </header>

  <div class="mr-ongoing-projects-body">
    <div class="mr-new-project-head">
      <div class="mr-new-project-wrapper">
        <div class="mr-new-project-text">
          <span class="mr-new-project-text11">Add New Project</span><br /><br />
          <span class="mr-new-project-text22">Create a new project</span>
        </div>
      </div>
      <div class="mr-new-project-month">
        <span class="mr-month" type="text">{{ month }}</span>
      </div>
    </div>
    <div class="mr-create-new-project">
      <div class="mr-calendar">
        <div class="mr-add-label">
          <span class="mr-new-project-text1 mr-label-text">Name of the Project</span>
        </div>
        <div class="mr-input">
          <input class="mr-project-input" type="text" required="" placeholder="Enter Project name" />
        </div>
      </div>
      <div class="mr-calendar">
        <div class="mr-add-label">
          <span class="mr-new-project-text1 mr-label-text">Client Name</span>
        </div>
        <div class="mr-input">
          <div class="dropdown1">
            <div [innerHTML]='displayValue1' (click)="showList(display1, displayValue1)" class="dropbtn1"></div>
            <ul [ngClass]="{'showList1': listDisplay1}" class="dropdown-content1">
              <li *ngFor="let option of Clients">
                <span [innerHTML]='option.label' (click)="showList(display1, option)"></span>
              </li>
            </ul>
          </div>   
        </div>
      </div>
      <div class="mr-calendar" id="radio">
        <div class="radio-left">
          <input type="radio" class="radio" name="project_type"  value="internal"><span id='left-radio'>Internal</span>
        </div>
        <div class="radio-right">
          <input type="radio" class="radio" name="project_type"  value="external" checked><span id='right-radio'>External</span>
        </div>
      </div>
      <div class="mr-calendar" id="last">
        <div class="mr-add-label">
          <span class="mr-new-project-text1 mr-label-text">Location</span>
        </div>
        <div class="mr-input">
          <div class="dropdown1">
            <div [innerHTML]='displayValue2' (click)="showList2(display2, displayValue2)" class="dropbtn1"></div>
            <ul [ngClass]="{'showList3': listDisplay2}" class="dropdown-content1">
              <li *ngFor="let option of Locations">
                <span [innerHTML]='option.label' (click)="showList2(display2, option)"></span>
              </li>
            </ul>
          </div>   
        </div>
      </div>
    </div> 
  </div>
  <footer class='mr-footer mr-bottom-buttons-wrapper'>
    <div class='mr-button-cancel'>
      <span (click)="GoBack()"> CANCEL</span>
    </div>
    <div class='mr-button-create'>
      <span (click)="createProject()"> CREATE</span>
    </div>
  </footer>
</body>
