<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>APPRECIATION</b>
    </div>
  </header>
      <div class="mr-ongoing-projects-body">
        <div class="mr-ongoing-projects">
            <div class="mr-ongoing-projects-wrapper">
                <div class="mr-ongoing-projects-text">
                    <span class="mr-ongoing-projects-text1">Employees</span><br /><br />
                    <span class="mr-ongoing-projects-text2">List of current Employees</span>
                </div>
            </div>
        </div>
        <ul>
            <li *ngFor = "let employee of EmployeeNames; let i = index">
                <!--<employee-tile [employeeName]="EmployeeNames[i]" [employeeRole]="EmployeeRoles[i]" [upvotes]="employee.likes_up" [downvotes]="employee.likes_down" [employeeKey]="EmployeeKeys[i]"></employee-tile>-->
                <employee-tile [employeeName]="employee" [employeeRole]="EmployeeRoles[i]" [employeeKey]="EmployeeKeys[i]"></employee-tile>

            </li>
        </ul>
        <employee-tile ></employee-tile>

    </div>
    <main-footer [active2]="IconActive"></main-footer>
</body>