@import './../app.component';
body{
    width:100%;
    min-height: 30rem;
}
.mr-header{
  width:100%;
  margin-right: 0;
  height: 5rem;
}
.mr-header-text{
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}
.mr-ongoing-projects-body{
  width: 100%;
  position: relative;
  height: auto;
  min-height: 35rem;
  background-color: $primary-background-color;
}
.mr-ongoing-projects{
  width: 100%;
  height: 7rem;
  background-color: $peer-tile-bg-color;
  margin-bottom: 0.9rem;
}
.mr-ongoing-projects-wrapper{
  width: 88%;
  height:41%;
  margin:auto;
  padding-top: 5%;
  margin-bottom:0%;
}
.mr-ongoing-projects-text{
  display: inline;
}
.mr-ongoing-projects-text1{
  font-size: 1.3rem;
  font-family:Avenir-Light ;
  color: #666;
  letter-spacing: 0.1rem;
}
.mr-ongoing-projects-text2{
  font-size: 1rem;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1rem;
}
employee-tile{
  margin-top: 1rem;
  display: block;
}