a{
	text-decoration: none;
	color: #000;
}
html{
    width: 100%;
    min-width: 320px;
    height: 100%;
    font-size: 15px;

    @include breakpoint($tablet_up){
        font-size: 14px;
    }

    @include breakpoint($desktop_up){
        font-size: 14px;
    }

    @include breakpoint($desktophd){
        font-size: 16px;
    }

}
body{
    @include font-light();
    padding:0; 
    margin:0;

    height: 100%;
    // min-height: calc(100% + 1px);
    width: 100%;
    position: relative;
    overflow-y: scroll;
    // font-family: 'Avenir','Gill Sans';
    font-family: 'Avenir W01','Avenir',Sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


strong{
    @include font-normal();    
}

i{
    font-style: italic;
}