
.bold{
	font-weight: 500;
}


//fonts
@mixin font-light(){
    font-weight:200;
}


@mixin font-normal(){
    font-weight:400;
}

@mixin font-bold(){
    font-weight:500;
}

@mixin font-bolder(){
    font-weight:800;
}
