$mobileSmallMaxWidth  : 300;
$mobileMaxWidth  : 400;
$phabletMaxWidth : 767;
$tabletMaxWidth  : 1023;
$desktopMaxWidth : 1800;

$mobile       : "(max-width: #{$mobileMaxWidth}px)" ;
$mobile_only  : "(max-width: #{$phabletMaxWidth}px)" ;
$phablet      : "(min-width: #{$mobileMaxWidth+1}px) and (max-width: #{$phabletMaxWidth}px)" ;
$tablet       : "(min-width: #{$phabletMaxWidth+1}px) and (max-width: #{$tabletMaxWidth}px)" ;
$desktop      : "(min-width: #{$tabletMaxWidth+1}px) and (max-width: #{$desktopMaxWidth}px)" ;
$desktophd    : "(min-width: #{$desktopMaxWidth}px)" ;

$desktop_down  :	"(max-width: #{$tabletMaxWidth}px)" ;
$mobile_small   : "(max-width: #{$mobileSmallMaxWidth}px)" ;
$phablet_up   : "(min-width: #{$mobileMaxWidth+1}px)" ;
$tablet_up    : "(min-width: #{$phabletMaxWidth+1}px)" ;
$desktop_up   : "(min-width: #{$tabletMaxWidth+1}px)" ;

$devicelandscape   : "(orientation : landscape)" ;
$mobilelandscape   : " (max-width: 600px) and (orientation : landscape)" ;
