@import './../user-profile.component';
@import './../my-project/my-project.component';
.mr-header{
  width:100%;
  margin-right: 0;
  height:5rem;
}
.mr-qualities{
  padding-top: 0rem;
}
.mr-qualities-dark{
  background-color: $primary-color-dark;
}
.mr-qualities-strength-light-text{
  color: $primary-color-text;
}
a{
  color: $primary-color-text;
}
ul{
  list-style-type: none;
  padding: 0%;
  width: 86%;
  margin: auto;
}
.mr-ongoing-projects-month{
  height: 1rem;
  margin-top: 4%;
}

body{
  background-color: white;
  margin-bottom: 100px;
}
.mr-rating-body{
  background-color: $primary-color-text;
  width: 100%;
  height: 50rem;
  position: relative;
}

.mr-ongoing-projects-month{
  height: 1rem;
  margin-top: 4%;
}
.mr-overall-rating{
  width: 100%;
  border-top: 2px dotted #999;
  border-bottom: 2px dotted #999;
  text-align: center;
  z-index: 4;
  margin-top: 5%;
  margin-bottom: 10%;
  height: 2em;
  padding-top: 1em;
  font-size: 1.1em;
  font-family:Avenir-Light ;
  color: #999;
  letter-spacing: 0.1em;
}
.overall-rating{
  color: $primary-color-dark;
}
.arrow-dark{
  color: $primary-color-dark;
}
.rating-meter-big{
  width: 72%;
  display: block;
  margin: auto;
  height: 12rem;
}
.rating-meter-small{
  width: 50%;
  height: 9rem;
  display: inline-block;
  margin-top: 3%;
  margin-left: 0%;
  margin-bottom: 2%;
  margin-right:0%;
  float: left;
}

.mr-small-meters-row{
  width:80%;
  margin:auto;
}
a{
  color: $primary-color-text;
}
li{
  position: relative;
}
.mr-meter-header{
  text-align: center;
  color: #333;
  font-size: 0.8rem;
  font-family:Avenir-Light ;
  letter-spacing: 0.1rem;
}
.meter{
  width: 56.7%;
  margin-left: 21.67%;
  margin-right:21.67%;
}
.meter-wrapper{
  position: absolute;
  top:16%;
  width: 100%;
  display: inline;
}
.meter-wrapper-big{
  position: relative;
  top: 2%;
}
#meterBig{
  width: 100%;
  position: relative;
  top: 10%;
  margin-left: 24.67%;
}
#rating-box{
  position: absolute;
  top:33%;
  margin-left:32%;
  width:34%;
  text-align: center;
  font-size: 5rem;
  background: white;
}
