<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>MY PROFILE</b>
    </div>
  </header>
  <div class="mr-qualities mr-qualities-dark">
      <div [ngClass]="{'mr-active-bottom': displayRatings}"  class="mr-qualities-strength mr-qualities-strength-light-text">
         <a routerLink="/my-rating" [ngClass]="{'mr-active': displayRatings}" (click)="showRatings();">MY RATING</a>
      </div>
      <div [ngClass]="{'mr-active-bottom': displayProjects}" class="mr-qualities-weakness mr-qualities-weakness-light-text">
        <a routerLink="/my-project" [ngClass]="{'mr-active': displayProjects}" (click)="showProjects()">MY PROJECT</a>
      </div>
  </div>
  <div class="mr-rating-body">
    <div class="mr-ongoing-projects-month">
      <span class="mr-month" type="text">{{ month }}</span>
    </div>
    <div class="meter-wrapper-big">
      <app-rating-meter id="meterBig" class="meter" [Id]="Id" [Percent]="Rating" [MeterType]="Type1" [radius]="radius1" [ngClass]="{'rating-meter-big': true}"></app-rating-meter>
      <div id="rating-box">
            {{Rating}}
      </div>
    </div>
    <div class="mr-overall-rating">
      Overall rating is <span class='overall-rating'>{{ Rating }} <i class="fa fa-chevron-right arrow-dark" aria-hidden="true"></i> </span>
    </div>
    <ul >
      <li [ngClass]="{'rating-meter-small': true}" *ngFor="let percent of IndividualRatings; let i = index">
        <div class="mr-meter-header">
          {{Qualities[i]}}
        </div>
        <div class="meter-wrapper">
          <app-rating-meter class="meter" [Id]="i" [Quality]="Qualities[i]" [Percent]="percent" [MeterType]="Type2" [radius]="radius2"></app-rating-meter>
        </div>
      </li>
    </ul>
  </div>
  <main-footer></main-footer>
</body>
