@import './../user-profile/my-project/my-project.component';

.mr-project-tile{
  width:100%;
  height: 8.8rem;
  background-color: $primary-color-text;
  margin-bottom: 0.6rem;
}
.mr-project-title{
  width:88%;
  margin:auto;
  height:2.1rem;
  padding-top: 1rem;
}

.project-name{
  font-size: 0.9rem;
  font-weight: bold;
  font-family:Avenir-Light ;
  color: #333333;
  letter-spacing: 0.1rem;
}
.project-icon{
  display:inline-block;
  padding-left: 1.5rem;
  float: right;
}
.mr-active-icon{
  color: $primary-active-icon;
}
#project_details{
  width: 100%;
  height: 4rem;
  margin-top: 1rem;
}
table{
  width: 88%;
  height: 76%;
  margin-top:3%;
  text-align: center;
  margin: auto;
}
th{
  font-size: 0.9rem;
  color: #777;
  letter-spacing: 0.1rem;
}
td{
  color: $primary-color-dark;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
ul{
  min-height: 30rem;
}