<div class="mr-project-tile">
  <div class="mr-project-title">
    <span class='project-name'>{{ Project }}</span>
    <span class="project-icon" (click)="deleteCsdProject()"><i class="fa fa-trash fa-5x" aria-hidden="true"></i></span>
    <span class="project-icon" (click)="editProject()"><i class="fa fa-pencil fa-5x" aria-hidden="true"></i></span>
    <hr />
  </div>
  <div id= "project_details">
    <table>
      <tr>
        <th> Client</th>
        <th> Project Type </th>
        <th> Location </th>
      </tr>
      <tr>
        <td>{{ client }}</td>
        <td>{{ project_type }}</td>
        <td>{{ location }}</td>
      </tr>
    </table>
  </div>
</div>
