<footer class="mr-footer">
  <p [ngClass]="{'mr-active-bottom': active1}" class="mr-icons-container">
    <span class="mr-icon-wrapper">
      <a routerLink="/list-of-peers-to-rate"><i class="fa fa-home mr-icons" [ngClass]="{'mr-active':active1}" aria-hidden="true"></i></a>
    </span>
  </p>
  <p (click)="appreciation()" [ngClass]="{'mr-active-bottom': active2}" class="mr-icons-container">
    <span class="mr-icon-wrapper">
      <span><i class="fa fa-thumbs-up mr-icons" [ngClass]="{'mr-active':active2}" aria-hidden="true"></i></span>
    </span>
  </p>
  <p [ngClass]="{'mr-active-bottom': active3}" class="mr-icons-container">
    <span class="mr-icon-wrapper">
      <a routerLink="/user-profile"><i class="fa fa-user mr-icons" [ngClass]="{'mr-active':active3}" aria-hidden="true"></i></a>
    </span>
  </p>
  <p [ngClass]="{'mr-active-bottom': active4}" (click) = "Active(4)" class="mr-icons-container">
    <span class="mr-icon-wrapper dropdown">
      <ul [ngClass]="{'showList': display}" class="dropdown-content">
        <li [ngClass]="{'showList': createProjectsDisplay, 'createProject': rev}">
          <span (click)="Notifications()">Notifications</span>
        </li>
        <li [ngClass]="{'showList': createProjectsDisplay, 'createProject': rev}">
          <span (click)="CsdProjects()">CSD Projects</span>
        </li>
        <!--<li [ngClass]="{'showList': createProjectsDisplay, 'createProject': rev}">
          <span (click)="createProjects()">Create New Projects</span>
        </li>-->
        <li>
          <span (click)="logout()">Logout</span>
        </li>
      </ul>
      <span (click)="showList()" class= "dropbtn"><i class="fa fa-plus-circle mr-icons" [ngClass]="{'mr-active':active4}" aria-hidden="true"></i></span>
    </span>
  </p>
</footer>
