<body>
  <main-header></main-header>
  <span class="peerRatingApp">RATE YOUR PEERS</span>
  <button  class="login-button" (click)="login()">
    <img class="login-image" alt="Login with Google" [src]="LoginImage" />
  </button>
  <router-outlet></router-outlet>
</body>
