@import './../main-styles';
body{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height: 45rem;
}
.mr-icons{
    color: $icon-color;
    font-size: 2em;
}
.mr-active{
    color: $primary-active-icon;
}
.mr-active-bottom{
    border-bottom: 0.4rem solid $primary-active-icon;
}
.mr-header{
    width: 100%;
    height: 5rem;
    position: relative;
    background-color: $primary-color-dark;
    display: table;
    text-align: center;
}
.mr-header-text{
    display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-size: 1.3em;
    font-family:Avenir-Light ;
    color: white;
    letter-spacing: 0.5em;
}
.mr-main-header{
    font-weight:normal;
}
.mr-header-icon{
    display:inline-block;
    color:$primary-color-text;
    position: absolute;
    left: 1rem;
    top: 2.0rem;
    height: 2em;
    width: 4em;
}
h1{
    font-size: 1.5em;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}
.mr-footer{
    width: 100%;
    height: 4rem;
    position: fixed;
    bottom:0;
    left:0;
    background-color: $primary-color-dark;
    font-size: 1.1rem;
}
.mr-icons-container{
    width: 25%;
    height: 100%;
    display: table;
    text-align: center;
    @extend .mr-float-left;
}
.mr-icon-wrapper{
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.notDisplayed{
  display:none;
}
ul{
  list-style-type: none;
}
.login-button{
  position: relative;
  top: 9rem;
  width: 100%;
  margin:auto;
  background: white;
  border: 0px;
}
.login-image{
  width:70%;
  height: 7rem;
}
.peerRatingApp{
  display: inline-block;
  position: relative;
  top: 7rem;
  left: 9%;
  width: 84%;
  margin:auto;
  text-align: center;
  color: $primary-color-dark;
  font-family: monospace;
  font-size: 5rem;
}
