<div class="mr-project-tile">
  <div class="mr-project-title">
    <span class='project-name'>{{ Project }}</span>
    <span class="project-icon" (click)="deleteProject()"><i class="fa fa-trash fa-5x" aria-hidden="true"></i></span>
    <span class="project-icon" (click)="editProject()"><i class="fa fa-pencil fa-5x" aria-hidden="true"></i></span>
    <span class="project-icon">{{Status}}</span>
    <hr />
  </div>
  <div id= "project_details">
    <table>
      <tr>
        <th> Client</th>
        <th> Project Type </th>
        <th> Location </th>
      </tr>
      <tr>
        <td>{{ client }}</td>
        <td>{{ project_type }}</td>
        <td>{{ location }}</td>
      </tr>
    </table>
  </div>
  <div class="mr-project-duration">
    <div class="mr-slider">

    </div>
    <div class="mr-slider-wrapper-1" [ngStyle]="{'width':Duration, 'left':RangeBeginning}">
      <div class="mr-slider-active">

      </div>
      <div class="mr-slider-left">
          {{ StartDate }}
      </div>
      <div class="mr-slider-right">
          {{ EndDate }}
      </div>
    </div>
  </div>
</div>
