@import './../my-project/my-project.component';

.mr-project-tile{
  width:100%;
  height: 12rem;
  background-color: $primary-color-text;
  margin-bottom: 0.6rem;
}
.mr-project-title{
  width:88%;
  margin:auto;
  height:2.1rem;
  padding-top: 1rem;
}
.mr-project-duration{
  width:88%;
  margin:auto;
  height: 3.2rem;
  position: relative;
}
.project-name{
  font-size: 0.9rem;
  font-weight: bold;
  font-family:Avenir-Light ;
  color: #333333;
  letter-spacing: 0.1rem;
}
.project-icon{
  display:inline-block;
  padding-left: 1.5rem;
  float: right;
}
.mr-active-icon{
  color: $primary-active-icon;
}
.mr-slider{
  height:0rem;
  width: 100%;
  position: absolute;
  top: 50%;
  border-top: 4px solid #e2e2e2;
}
.mr-slider-left{
  display: inline;
  position: absolute;
  left: 0%;
  top: -2%;
  height: 1.8rem;
  width: 3.2rem;
  border-radius: 147rem;
  background-color: $primary-color-dark;
  text-align: center;
  vertical-align: middle;
  padding-top: 1.1rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  color: $primary-active-icon;
}
.mr-slider-right{
  display: inline;
  position: absolute;
  right: 0%;
  top: -2%;
  height: 1.8rem;
  width: 3.2rem;
  border-radius: 147rem;
  background-color: $primary-color-dark;
  text-align: center;
  padding-top: 1.1rem;
  padding-bottom: 0.3rem;
  font-weight: bold;
  color: $primary-active-icon;
}
.mr-slider-active{
  height: 0rem;
  width: 100%;
  position: absolute;
  top: 45%;
  border-top: 4px solid $primary-color-dark;
}
.mr-slider-wrapper-1{
  height: 3rem;
  position: absolute;
  top:9%;
  width: 23%;
  left: 3%;
}
#project_details{
  width: 100%;
  height: 4rem;
}
table{
  width: 88%;
  height: 76%;
  margin-top:3%;
  text-align: center;
  margin: auto;
}
th{
  font-size: 0.9rem;
  color: #777;
  letter-spacing: 0.1rem;
}
td{
  color: $primary-color-dark;
  font-size: 1rem;
  letter-spacing: 0.1rem;
}
ul{
  min-height: 30rem;
}