<div (click)="RateYourPeer()" class="peer-tile-wrapper">
  <div class="mr-float-left mr-peer-tile-left-container">
    <p class="mr-user-profile-container">
      <span class="mr-user-profile-wrapper">
        <img class="mr-profile-picture" [src]="ImageSrc"> <!--  src="./../../images/puneet.jpg"/  -->
      </span>
    </p>
  </div>
  <div class="mr-float-left mr-peer-tile-right-container">
    <p class="mr-rafter-name-container"><a class="mr-rafter-name-wrapper">{{ EmployeeName }}</a></p>
    <p class="mr-rafter-designation-container"><span class="mr-rafter-designation-wrapper">{{ EmployeeRole }}</span></p>
    <p class="mr-rafter-project-container"><span class="mr-rafter-project-wrapper">{{ EmployeeProject }}</span></p>
    <p class="mr-rating-stars">
      <span  class="mr-rating-icon-wrapper">
        <a routerLink="/list-of-peers-to-rate">
          <i class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes0, 'mr-rating-stars-selected': yes0}" aria-hidden="true"></i>
          <i class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes0, 'mr-rating-stars-selected': yes0}" aria-hidden="true"></i>
        </a>
      </span>
      <span class="mr-rating-icon-wrapper">
        <a routerLink="/list-of-peers-to-rate">
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes1, 'mr-rating-stars-selected': yes1}" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes1, 'mr-rating-stars-selected': yes1}" aria-hidden="true"></i>
        </a>
      </span>
      <span class="mr-rating-icon-wrapper">
        <a routerLink="/list-of-peers-to-rate">
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes2, 'mr-rating-stars-selected': yes2}" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes2, 'mr-rating-stars-selected': yes2}" aria-hidden="true"></i>
        </a>
      </span>
      <span class="mr-rating-icon-wrapper">
        <a routerLink="/list-of-peers-to-rate">
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes3, 'mr-rating-stars-selected': yes3}" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes3, 'mr-rating-stars-selected': yes3}" aria-hidden="true"></i>
        </a>
      </span>
      <span class="mr-rating-icon-wrapper">
        <a routerLink="/list-of-peers-to-rate">
          <i Class="fa fa-star-o" [ngClass]="{'mr-rating-stars-display': yes4, 'mr-rating-stars-selected': yes4}" aria-hidden="true"></i>
          <i Class="fa fa-star" [ngClass]="{'mr-rating-stars-display': !yes4, 'mr-rating-stars-selected': yes4}" aria-hidden="true"></i>
        </a>
      </span>
    </p>
  </div>
</div>
