/* Stylesheet for peer tile */
@import "./../../app.component";

.peer-tile-wrapper{
    height: 8rem;
    font-size: 1.2rem;
    background-color: $peer-tile-bg-color;
    margin-bottom: 0.6rem;
    padding:0.2rem;
}
/* styles for the peer-tile left container, containing profile picture */
.mr-peer-tile-left-container{
    width: 38%;
    height: 100%;
    position: relative;
    text-align: center;
    max-width: 80%;
    display: table;
}
.mr-user-profile-container{
    width: auto;
    display: inline-block;
    display: table-cell;
    vertical-align: middle;
}
.mr-user-profile-wrapper{
    width: 100%;
    height: 100%;
}
.mr-profile-picture{
    display: block;
    margin: auto;
    border-radius: .5em;
    width: 57%;
    height: 37%;
}

/* styles for the peer-tile right container, containing name, designation, project */
.mr-peer-tile-right-container{
    width: 62%;
    height: 100%;
    padding: 0.5rem;
    box-sizing: border-box;
    position: relative;
}
.mr-rafter-name-container{
    color: $primary-text-color;
    margin-top: 1rem;
    display: table-cell;
    vertical-align: middle;
    text-align:left;
    font-size: 1rem;
    font-family:Avenir-Light ;
    color: $primary-color-dark;
    letter-spacing: 0.1rem;
}
.mr-rafter-designation-container{
    margin-bottom: 0.4rem;
    margin-top: 0.5rem;
    display: table;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 0.8rem;
    color: $secondary-text-color;
    letter-spacing: 0.1rem;
    position: absolute;
    bottom: 3.9rem;
}
.mr-rafter-project-wrapper{
    background-color: $project-background-color;
    padding: 0.3rem;
    display: inline-block;
    //display: table-cell;
    vertical-align: middle;
    text-align:center;
    font-family:Avenir-Light ;
    font-size: 0.8rem;
    color: $primary-color-dark;
    letter-spacing: 0.4rem;
}
.mr-rafter-project-container{
    margin-bottom: 0.7rem;
    position: absolute;
    bottom: 1.7rem;
}
.mr-rating-icon-wrapper{
    margin-right: 15px;
}
.mr-rating-stars-selected{
    color:$primary-active-icon;
}
.mr-rating-stars-display{
    display: none;
}
.mr-rating-stars{
   position: absolute;
   bottom: 0.6rem;
}
