<body>
    <header class="mr-header">
        <div class="mr-header-text">
        <b>PROJECTS</b>
        </div>
    </header>
    <div class="mr-ongoing-projects-body">
        <div class="mr-ongoing-projects">
        <div class="mr-ongoing-projects-wrapper">
            <div class="mr-ongoing-projects-text">
            <span class="mr-ongoing-projects-text1">Ongoing Projects</span><br /><br />
            <span class="mr-ongoing-projects-text2">List of your projects</span>
            </div>
            <div (click)="addProject()" class="mr-project-add">
            <a (click)="addProject()"><span class="plus-dark"><i class="fa fa-plus plus dark" aria-hidden="true">   PROJECTS</i></span></a>
            </div>
        </div>
        </div>
        <ul>
        <li *ngFor = "let project of Projects; let i = index">
            <project-tile [Project]="project.project_name" [Key]="ProjectKeys[i]" [client]="project.client_id" [location]="project.location" [project_type]="project.project_type"></project-tile>
        </li>
        </ul>
    </div>
    <main-footer></main-footer>
</body>