/* Stylesheet for footer component */
@import '../app.component';

/* Dropdown Button */
.dropbtn {
    background: $primary-color-dark;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: table-cell;
    background: $primary-color-dark;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background: $primary-color-dark;
    width: 390%;
    bottom: 110%;
    right: 5%;
}

/* Links inside the dropdown */
.dropdown-content li {
    text-align: center;
    text-decoration: none;
    height: 3rem;
    width:100%;
    color: $primary-color-text;
    font-size: 1.5em;
    padding-top:3%;
    font-family:Avenir-Light ;
    letter-spacing: 0.3rem;
    background-color: $primary-color-dark;
}
.createProject{
  display: none;
}

/* Show the dropdown menu on hover */
.showList{
  display: block;
}
ul{
  margin: 0;
  padding: none;
}
