@import './../app.component';
body{
    width:100%;
    min-height: 30rem;
}
.mr-ongoing-projects-body{
  width: 100%;
  position: relative;
  height: auto;
  min-height: 35rem;
  background-color: $primary-background-color;
}
.mr-header{
  width:100%;
  margin-right: 0;
  height: 5rem;
}
.mr-header-text{
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
}