<body>
  <header class="mr-header">
    <div class="mr-header-text">
      <b>NOTIFICATIONS</b>
    </div>
  </header>
      <div class="mr-ongoing-projects-body">
        <ul>
            <li *ngFor = "let detail of NotificationData">
                <notification-tile [Key]="detail.Key" [Month]="detail.Month" [End]="detail.EndDate" [Start]="detail.StartDate" [Project]="detail.ProjectName" [Name]="detail.Name"></notification-tile>
            </li>
        </ul>
    </div>
    <main-footer></main-footer>
</body>